*{
  margin: 0;
}
h1{
  color: #F4C7EE;
  position: absolute;
  top:40%;
  left: 47%;
}
h2{
  color:mediumslateblue;
  padding-left: 20px;
  padding-top: 10px;
}
h3{
  color: powderblue;
  padding-left: 20px;
}
li{
  list-style: none;
}
a{
  color: #f4c7ee;
  text-decoration: none;
}
